USE [Dekanat]
GO
/****** Object:  UserDefinedDataType [dbo].[alias types]    Script Date: 08.12.2025 1:08:17 ******/
CREATE TYPE [dbo].[alias types] FROM [bigint] NOT NULL
GO
/****** Object:  UserDefinedFunction [dbo].[GetStudentName]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetStudentName]
(
    @Zach NVARCHAR(20)
)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Result NVARCHAR(200);

    SELECT @Result = FIO
    FROM dbo.Studenty
    WHERE ZachetnayaKnyzhka = @Zach;

    RETURN @Result;
END;
GO
/****** Object:  Table [dbo].[Discipliny]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipliny](
	[KodPredmeta] [int] NOT NULL,
	[Nazvanie] [nvarchar](200) NULL,
 CONSTRAINT [PK_Discipliny] PRIMARY KEY CLUSTERED 
(
	[KodPredmeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FindDisciplines]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FindDisciplines]
(
    @Search NVARCHAR(50)
)
RETURNS TABLE
AS
RETURN
(
    SELECT KodPredmeta, Nazvanie
    FROM dbo.Discipliny
    WHERE Nazvanie LIKE '%' + @Search + '%'
);
GO
/****** Object:  Table [dbo].[Gruppy]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gruppy](
	[KodGruppy] [int] NOT NULL,
	[Nazvanie] [nvarchar](100) NOT NULL,
	[KodKafedry] [int] NOT NULL,
	[ZachetnayaStarosty] [varchar](20) NULL,
 CONSTRAINT [PK_Gruppy] PRIMARY KEY CLUSTERED 
(
	[KodGruppy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studenty]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studenty](
	[ZachetnayaKnyzhka] [varchar](20) NOT NULL,
	[FIO] [nvarchar](200) NOT NULL,
	[KodGruppy] [int] NOT NULL,
	[KodVidaObucheniya] [int] NOT NULL,
 CONSTRAINT [PK_Studenty] PRIMARY KEY CLUSTERED 
(
	[ZachetnayaKnyzhka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_StudentyGruppy]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_StudentyGruppy]
AS
SELECT
    s.ZachetnayaKnyzhka,
    s.FIO,
    s.KodGruppy,
    g.Nazvanie AS NazvanieGruppy
FROM dbo.Studenty s
JOIN dbo.Gruppy  g ON g.KodGruppy = s.KodGruppy;
GO
/****** Object:  Table [dbo].[Ekzamenachionnaya_vedomost]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ekzamenachionnaya_vedomost](
	[NomVedomosti] [int] NOT NULL,
	[KodVidyKontrolya] [int] NULL,
	[DataVedomosti] [date] NULL,
	[KodGruppy] [int] NOT NULL,
	[KodPredmeta] [int] NULL,
	[KodPrepodavatelja] [int] NULL,
	[KolvoPyaterok] [int] NULL,
	[KolvoChetvyorek] [int] NULL,
	[KolvoTroek] [int] NULL,
	[KolvoNeattestovannyh] [int] NULL,
	[KolvoNejavok] [int] NULL,
	[Raspisaniesessii] [int] NULL,
	[Auditorya] [int] NULL,
 CONSTRAINT [PK_Ekzamenachionnaya_vedomost] PRIMARY KEY CLUSTERED 
(
	[NomVedomosti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ekzamenachionnaya_vedomost_log]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ekzamenachionnaya_vedomost_log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Operation] [nvarchar](20) NULL,
	[NomVedomosti] [int] NULL,
	[DataVedomosti] [date] NULL,
	[KodGruppy] [int] NULL,
	[KodPredmeta] [int] NULL,
	[LogDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ekzamenacionnaya_vedomost_log]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ekzamenacionnaya_vedomost_log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Operation] [nvarchar](10) NULL,
	[NomVedomosti] [int] NULL,
	[DataVedomosti] [date] NULL,
	[KodGruppy] [int] NULL,
	[KodPredmeta] [int] NULL,
	[LogDate] [datetime2](7) NULL,
	[UserName] [sysname] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kafedry]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kafedry](
	[KodKafedry] [int] NOT NULL,
	[Nazvanie] [nchar](200) NOT NULL,
	[KodSotrudnika] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Kafedry] PRIMARY KEY CLUSTERED 
(
	[KodKafedry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ochenki]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ochenki](
	[KodOtsenki] [int] NOT NULL,
	[KodGrade] [varchar](5) NULL,
	[Nazvanie] [nvarchar](50) NULL,
	[PriznakTipa] [nvarchar](20) NULL,
 CONSTRAINT [PK_Ochenki] PRIMARY KEY CLUSTERED 
(
	[KodOtsenki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raspisanie_sessii]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raspisanie_sessii](
	[KodZapisi] [int] IDENTITY(1,1) NOT NULL,
	[DataZanyatiya] [date] NOT NULL,
	[VremyaNachala] [time](0) NOT NULL,
	[KodGruppy] [int] NOT NULL,
	[KodPredmeta] [int] NOT NULL,
	[KodPrepodavatelja] [int] NOT NULL,
	[KodVidyKontrolya] [int] NOT NULL,
	[Auditoriya] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KodZapisi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rezultat_o]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rezultat_o](
	[NomVedomosti] [int] NOT NULL,
	[KodStudenta] [varchar](20) NULL,
	[KodOtsenki] [int] NULL,
 CONSTRAINT [PK_rezultat_o] PRIMARY KEY CLUSTERED 
(
	[NomVedomosti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sotrudniki]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sotrudniki](
	[KodSotrudnika] [int] NOT NULL,
	[FIO] [nchar](200) NOT NULL,
	[KodKafedry] [int] NULL,
 CONSTRAINT [PK_Sotrudniki] PRIMARY KEY CLUSTERED 
(
	[KodSotrudnika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VidyKontrolya]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VidyKontrolya](
	[KodVidyKontrolya] [int] NOT NULL,
	[Nazvanie] [nvarchar](50) NULL,
 CONSTRAINT [PK_VidyKontrolya] PRIMARY KEY CLUSTERED 
(
	[KodVidyKontrolya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Discipliny] ([KodPredmeta], [Nazvanie]) VALUES (1, N'Математика')
INSERT [dbo].[Discipliny] ([KodPredmeta], [Nazvanie]) VALUES (2, N'Физика')
INSERT [dbo].[Discipliny] ([KodPredmeta], [Nazvanie]) VALUES (3, N'Философия')
INSERT [dbo].[Ekzamenachionnaya_vedomost] ([NomVedomosti], [KodVidyKontrolya], [DataVedomosti], [KodGruppy], [KodPredmeta], [KodPrepodavatelja], [KolvoPyaterok], [KolvoChetvyorek], [KolvoTroek], [KolvoNeattestovannyh], [KolvoNejavok], [Raspisaniesessii], [Auditorya]) VALUES (1, 1, CAST(N'2025-06-01' AS Date), 1, 1, 2, 1, 1, 0, 0, 0, 0, NULL)
INSERT [dbo].[Ekzamenachionnaya_vedomost] ([NomVedomosti], [KodVidyKontrolya], [DataVedomosti], [KodGruppy], [KodPredmeta], [KodPrepodavatelja], [KolvoPyaterok], [KolvoChetvyorek], [KolvoTroek], [KolvoNeattestovannyh], [KolvoNejavok], [Raspisaniesessii], [Auditorya]) VALUES (2, 1, CAST(N'2025-06-01' AS Date), 2, 2, 3, 1, 1, 0, 0, 0, NULL, NULL)
INSERT [dbo].[Ekzamenachionnaya_vedomost] ([NomVedomosti], [KodVidyKontrolya], [DataVedomosti], [KodGruppy], [KodPredmeta], [KodPrepodavatelja], [KolvoPyaterok], [KolvoChetvyorek], [KolvoTroek], [KolvoNeattestovannyh], [KolvoNejavok], [Raspisaniesessii], [Auditorya]) VALUES (3, 2, CAST(N'2025-06-01' AS Date), 3, 3, 4, 1, 1, 0, 0, 6, NULL, NULL)
INSERT [dbo].[Gruppy] ([KodGruppy], [Nazvanie], [KodKafedry], [ZachetnayaStarosty]) VALUES (1, N'СИБ 24 2 с', 1, N'Z0001')
INSERT [dbo].[Gruppy] ([KodGruppy], [Nazvanie], [KodKafedry], [ZachetnayaStarosty]) VALUES (2, N'ВТ 24 2', 2, N'Z0002')
INSERT [dbo].[Gruppy] ([KodGruppy], [Nazvanie], [KodKafedry], [ZachetnayaStarosty]) VALUES (3, N'СБ 24 2', 3, N'Z0003')
SET IDENTITY_INSERT [dbo].[Kafedry] ON 

INSERT [dbo].[Kafedry] ([KodKafedry], [Nazvanie], [KodSotrudnika]) VALUES (1, N'кафедра математики                                                                                                                                                                                      ', 2)
INSERT [dbo].[Kafedry] ([KodKafedry], [Nazvanie], [KodSotrudnika]) VALUES (2, N'кафедра информатики                                                                                                                                                                                     ', 3)
INSERT [dbo].[Kafedry] ([KodKafedry], [Nazvanie], [KodSotrudnika]) VALUES (3, N'кафедра физики                                                                                                                                                                                          ', 4)
SET IDENTITY_INSERT [dbo].[Kafedry] OFF
INSERT [dbo].[Ochenki] ([KodOtsenki], [KodGrade], [Nazvanie], [PriznakTipa]) VALUES (1, N'A', N'отлично', N'положительная')
INSERT [dbo].[Ochenki] ([KodOtsenki], [KodGrade], [Nazvanie], [PriznakTipa]) VALUES (2, N'B', N'хорошо', N'положительная')
INSERT [dbo].[Ochenki] ([KodOtsenki], [KodGrade], [Nazvanie], [PriznakTipa]) VALUES (3, N'C', N'удовлетворительно', N'положительная')
SET IDENTITY_INSERT [dbo].[Raspisanie_sessii] ON 

INSERT [dbo].[Raspisanie_sessii] ([KodZapisi], [DataZanyatiya], [VremyaNachala], [KodGruppy], [KodPredmeta], [KodPrepodavatelja], [KodVidyKontrolya], [Auditoriya]) VALUES (3, CAST(N'2025-12-16' AS Date), CAST(N'09:00:00' AS Time), 1, 1, 2, 1, N'403')
INSERT [dbo].[Raspisanie_sessii] ([KodZapisi], [DataZanyatiya], [VremyaNachala], [KodGruppy], [KodPredmeta], [KodPrepodavatelja], [KodVidyKontrolya], [Auditoriya]) VALUES (6, CAST(N'2025-12-16' AS Date), CAST(N'09:00:00' AS Time), 2, 2, 3, 1, N'102')
INSERT [dbo].[Raspisanie_sessii] ([KodZapisi], [DataZanyatiya], [VremyaNachala], [KodGruppy], [KodPredmeta], [KodPrepodavatelja], [KodVidyKontrolya], [Auditoriya]) VALUES (7, CAST(N'2025-12-16' AS Date), CAST(N'09:00:00' AS Time), 3, 3, 4, 1, N'320')
SET IDENTITY_INSERT [dbo].[Raspisanie_sessii] OFF
INSERT [dbo].[rezultat_o] ([NomVedomosti], [KodStudenta], [KodOtsenki]) VALUES (1, N'Z0001', 1)
INSERT [dbo].[rezultat_o] ([NomVedomosti], [KodStudenta], [KodOtsenki]) VALUES (2, N'Z0002', 2)
INSERT [dbo].[rezultat_o] ([NomVedomosti], [KodStudenta], [KodOtsenki]) VALUES (3, N'Z0003', 3)
INSERT [dbo].[Sotrudniki] ([KodSotrudnika], [FIO], [KodKafedry]) VALUES (2, N'Агофина А.                                                                                                                                                                                              ', 1)
INSERT [dbo].[Sotrudniki] ([KodSotrudnika], [FIO], [KodKafedry]) VALUES (3, N'Львовна Л.                                                                                                                                                                                              ', 2)
INSERT [dbo].[Sotrudniki] ([KodSotrudnika], [FIO], [KodKafedry]) VALUES (4, N'Кузнецова Е.                                                                                                                                                                                            ', 3)
INSERT [dbo].[Studenty] ([ZachetnayaKnyzhka], [FIO], [KodGruppy], [KodVidaObucheniya]) VALUES (N'Z0001', N'Муслиманов А', 1, 1)
INSERT [dbo].[Studenty] ([ZachetnayaKnyzhka], [FIO], [KodGruppy], [KodVidaObucheniya]) VALUES (N'Z0002', N'Мурзалин Ж', 1, 1)
INSERT [dbo].[Studenty] ([ZachetnayaKnyzhka], [FIO], [KodGruppy], [KodVidaObucheniya]) VALUES (N'Z0003', N'Кафизов Р', 2, 1)
INSERT [dbo].[VidyKontrolya] ([KodVidyKontrolya], [Nazvanie]) VALUES (1, N'экзамен')
INSERT [dbo].[VidyKontrolya] ([KodVidyKontrolya], [Nazvanie]) VALUES (2, N'зачет')
INSERT [dbo].[VidyKontrolya] ([KodVidyKontrolya], [Nazvanie]) VALUES (3, N'КР')
ALTER TABLE [dbo].[Ekzamenachionnaya_vedomost_log] ADD  DEFAULT (sysdatetime()) FOR [LogDate]
GO
ALTER TABLE [dbo].[ekzamenacionnaya_vedomost_log] ADD  DEFAULT (sysdatetime()) FOR [LogDate]
GO
ALTER TABLE [dbo].[ekzamenacionnaya_vedomost_log] ADD  DEFAULT (suser_sname()) FOR [UserName]
GO
ALTER TABLE [dbo].[Gruppy]  WITH CHECK ADD  CONSTRAINT [FK_Gruppy_Kafedry] FOREIGN KEY([KodKafedry])
REFERENCES [dbo].[Kafedry] ([KodKafedry])
GO
ALTER TABLE [dbo].[Gruppy] CHECK CONSTRAINT [FK_Gruppy_Kafedry]
GO
ALTER TABLE [dbo].[Kafedry]  WITH CHECK ADD  CONSTRAINT [FK_Kafedry_Sotrudniki] FOREIGN KEY([KodSotrudnika])
REFERENCES [dbo].[Sotrudniki] ([KodSotrudnika])
GO
ALTER TABLE [dbo].[Kafedry] CHECK CONSTRAINT [FK_Kafedry_Sotrudniki]
GO
ALTER TABLE [dbo].[Raspisanie_sessii]  WITH CHECK ADD  CONSTRAINT [FK_RaspGruppa] FOREIGN KEY([KodGruppy])
REFERENCES [dbo].[Gruppy] ([KodGruppy])
GO
ALTER TABLE [dbo].[Raspisanie_sessii] CHECK CONSTRAINT [FK_RaspGruppa]
GO
ALTER TABLE [dbo].[Raspisanie_sessii]  WITH CHECK ADD  CONSTRAINT [FK_RaspPredmet] FOREIGN KEY([KodPredmeta])
REFERENCES [dbo].[Discipliny] ([KodPredmeta])
GO
ALTER TABLE [dbo].[Raspisanie_sessii] CHECK CONSTRAINT [FK_RaspPredmet]
GO
ALTER TABLE [dbo].[Raspisanie_sessii]  WITH CHECK ADD  CONSTRAINT [FK_RaspPrepod] FOREIGN KEY([KodPrepodavatelja])
REFERENCES [dbo].[Sotrudniki] ([KodSotrudnika])
GO
ALTER TABLE [dbo].[Raspisanie_sessii] CHECK CONSTRAINT [FK_RaspPrepod]
GO
ALTER TABLE [dbo].[Raspisanie_sessii]  WITH CHECK ADD  CONSTRAINT [FK_RaspVidKontrolya] FOREIGN KEY([KodVidyKontrolya])
REFERENCES [dbo].[VidyKontrolya] ([KodVidyKontrolya])
GO
ALTER TABLE [dbo].[Raspisanie_sessii] CHECK CONSTRAINT [FK_RaspVidKontrolya]
GO
ALTER TABLE [dbo].[rezultat_o]  WITH CHECK ADD  CONSTRAINT [FK_rezultat_o_Ochenki] FOREIGN KEY([KodOtsenki])
REFERENCES [dbo].[Ochenki] ([KodOtsenki])
GO
ALTER TABLE [dbo].[rezultat_o] CHECK CONSTRAINT [FK_rezultat_o_Ochenki]
GO
ALTER TABLE [dbo].[rezultat_o]  WITH CHECK ADD  CONSTRAINT [FK_rezultat_o_Studenty] FOREIGN KEY([KodStudenta])
REFERENCES [dbo].[Studenty] ([ZachetnayaKnyzhka])
GO
ALTER TABLE [dbo].[rezultat_o] CHECK CONSTRAINT [FK_rezultat_o_Studenty]
GO
ALTER TABLE [dbo].[Sotrudniki]  WITH CHECK ADD  CONSTRAINT [FK_Sotrudniki_Kafedry] FOREIGN KEY([KodKafedry])
REFERENCES [dbo].[Kafedry] ([KodKafedry])
GO
ALTER TABLE [dbo].[Sotrudniki] CHECK CONSTRAINT [FK_Sotrudniki_Kafedry]
GO
/****** Object:  StoredProcedure [dbo].[GetAvgBall]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAvgBall]
    @KodGruppy INT,
    @KodPredmeta INT
AS
BEGIN
    SELECT
        AVG(
            (ev.KolvoPyaterok * 5 +
             ev.KolvoChetvyorek * 4 +
             ev.KolvoTroek * 3 +
             ev.KolvoNeattestovannyh * 2 +
             ev.KolvoNejavok * 0.0)
            /
            NULLIF(ev.KolvoPyaterok + ev.KolvoChetvyorek +
                   ev.KolvoTroek + ev.KolvoNeattestovannyh +
                   ev.KolvoNejavok, 0)
        ) AS AvgScore
    FROM dbo.ekzamenacionnaya_vedomost ev
    WHERE ev.KodGruppy = @KodGruppy
      AND ev.KodPredmeta = @KodPredmeta;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetEqualMarksVedomosti]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEqualMarksVedomosti]
AS
BEGIN
    SELECT *
    FROM dbo.ekzamenacionnaya_vedomost
    WHERE KolvoPyaterok = KolvoChetvyorek;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetStudentsByGroup]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentsByGroup]
    @KodGruppy INT
AS
BEGIN
    SELECT *
    FROM dbo.Studenty
    WHERE KodGruppy = @KodGruppy;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertThreeDisciplines]    Script Date: 08.12.2025 1:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertThreeDisciplines]
AS
BEGIN
    DECLARE @i INT = 1;

    WHILE @i <= 3
    BEGIN
        INSERT INTO dbo.Discipliny (Nazvanie)
        VALUES (N'Новая дисциплина ' + CAST(@i AS NVARCHAR(10)));

        SET @i = @i + 1;
    END
END;
GO
